.box {
    background-color: var(--crema);
    /* background-color: blue; */
    /* padding: px; */
}

.img-nos {
    /* width: 300px;
    height: 200px; */
    border-top-right-radius: 16%;
    border-bottom-left-radius: 16%;
}

.fondoh2 {
    background-color: var(--salmon);
}

.mision {
    border-radius: 20% 0 20% 0;
}

.centrar {
    display: flex;
    align-items: center;
}

body {
    text-align: center;
}

/* le da tamaño a la página del carrusel */
.ifEquipo{
    /* width: 100% !important; */
    width: 100%;
    height: 420px;

}