/*importamos el archivo de estilos de cada componente*/
@import url('./Styles_Pago.css');
@import url('./Styles_Pop_Up.css');
@import url('./Styles_Perfil.css');
@import url('./Styles_Carrito.css');
@import url('./Styles_Contacto.css');
@import url('./Styles_Nosotros.css');
@import url('./Styles_Register.css');
@import url('./Styles_Productos.css');
@import url('./Styles_Encabezado.css');
@import url('./Styles_Producto_Ind.css');
/*importamos fuentes de google*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/*importamos iconos de bootstrap*/
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css');

:root{
 --verde: #94B49F;
 --verdeClaro: #CEE5D0;
 --crema: #FCF8E8;
 --salmon: #ECB390;
 --negro: black;
}
*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
h1{
    font-size: 36px;
    text-align: center;
}
h2,h3{
    font-size: 16px;
    text-align: center;
    }
p{
    font-size: 14px;
    text-align: center;
}

thead, tbody {
	    text-align: center;
 	    font-size: 16px;
    }
th{
	background-color: #ECB390;
        font-weight: 700;
    }
table,td,th{
	border-collapse: collapse;
}

td {
	text-align: center;
}
