

.menu-categoria > .btn {
    font-size: 14px;
    font-weight: 700;
    color: #9f9f9f;
    background-color: transparent;
    padding: 0 15px;
    text-transform: uppercase;
    border: none
}


.productos {
    display: flex;
    align-items: center;
    justify-content: center;
}

 .producto-card-imagen {
    /* border: 2px solid rgb(124, 15, 15); */
    border-radius: 20%;  
    height:100%; 
    width: 100%;
    cursor: pointer;
 
 
}

.producto-card-imagen:hover {
    opacity:0.7;
   }



   .modal-descripcion {
    box-shadow: 1px 10px 30px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--salmon);
    background-color: rgb(255, 255, 255);
  
    align-items: center;
    justify-content: center;
}

.imagen-ind {
    /* background-color: aqua; */
    max-width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.img-ind {   
    width: 100%;
   
}

.descripcion2 {
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

    
    











































.menu-categoria > .btn {
    font-size: 14px;
    font-weight: 700;
    color: #9f9f9f;
    background-color: transparent;
    padding: 0 15px;
    text-transform: uppercase;
    border: none
}

/* @media screen and (max-width:650px){
    .producto-precio,.producto-nombre, .inf, .estrellas, .descripcion1{
        font-size: 50px;
        font-family: 'Montserrat', sans-serif; 
    }   
    .img-producto{
        width: 100%;
    }

   
    
}

@media screen and (min-width:651px){
    .producto-precio,.producto-nombre, .inf, .estrellas, .descripcion1{
        font-size: 12px;
        font-family: 'Montserrat', sans-serif; 
    }  
 
  
} */


.productos{
display: flex;
align-items: center;
justify-content: center;
}



/* ESTILO DE LA TAJETA INDIVIUDAL */
.tarjeta-producto{
    /* margin: 0 0.5em; */
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
    

}

/* ESTILO DE LA IMAGEN DE LA TARJETAS DE PRODUCTOS */
.img-producto {
    border-radius: 20%;
    /* margin: 2%; */
    height:100%; 
    width: 100%;
    cursor: pointer;/*copiar*/
 
}
/*copiar*/
.img-producto:hover {
    opacity:0.7;
   }
   

.botones {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgb(254, 255, 255);
    border: 1px solid var(--salmon);
    color: rgb(6, 6, 6);
     font-weight: 1000px;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 50px;
}

.botones::after {
    /*se crea una capa*/
    content: "";
    width: 1px;
    height: 1px;
    background: none;
    position: absolute;
    z-index: 1;
    top: 65%;
    left: 60%;
    transition: .3s ease-in-out all;
    border-radius: 100px;
    transform-origin: center;
}

.botones:hover::after {
    transform: scale(600);
    background: var(--salmon);
}

/* ESTILO DEL TEXTO DEL BOTON  */
.inf {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
    color: #161515;
    font-family: 'Montserrat', sans-serif;
}




.producto-central{    
    display: flex;
    align-items: center;
    justify-content: center;
   
}


.img-producto-central{
    border-radius: 0 16% ;
    border: 0.3em solid var(--verde);
    cursor: pointer;
    transition: 0.3s;
    width: 75%;
}

.img-producto-central:hover {
 opacity:0.7;
}

h1{
    font-family: 'Montserrat', sans-serif;
}
/* DESCRIPCION DEL PORDUCTO DEL MES */
.descripcion1{
    
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}



.mas-vendido{  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--crema);
}







    
    
    
    
    
    
    