*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*Estilos de banner*/
.banner{
    width: 100%;
    height: 500px;
    
    background-size: 100% 100%;
    /* animation-name: banner;
    animation-duration: 10s;
    animation-iteration-count: infinite; */
    /*las tres lineas anteriores hacen lo mismo que animation:baner 10s infinite;*/
    animation: banner 10s infinite;
    z-index: 3;
}

/* tiempo para cambiar imagenes */
@keyframes banner {
    0%, 21%{
        background-image: url(https://i.ibb.co/d6dZq3J/baner-mundial-naturaleza.jpg);
        
    }
    26%, 47%{
        background-image: url(https://i.ibb.co/kqR8qvm/IMG-0405.jpg);
    }
    52%, 73%{
        background-image: url(https://i.ibb.co/ww8FwLn/IMG-1197.jpg);
    }
    78%, 100%{
        background-image: url(https://i.ibb.co/yRsFgH5/IMG-1444.jpg);
    }
}

/* blur difumina el cuadro  */
.background-container{
    width: 100%;
    height: 54.9px;
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
    
}

.card-container{
    width: 100%;
    height: 100%;
}

.glass-effect{
    background: #fafafa10;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

/*el heder se hace estatico */
.heder-statica{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 60;
}

/* Espacio vertical para que el encavezado no tape titulos*/
.main{
    padding: 10rem 0rem 0rem;
}
/* Sele coloca al div padre el color verde */
.padre{
   /* border: 3px solid rebeccapurple;  */
   background-color: var(--verdeClaro);
}
/* Ancho del primer div hijo */
.hijo_1{
    /* border: 3px solid blue; */
    width: 33%;
}
/* Justificacion y centrado de la imagne el segundo div hijo */
.hijo_2{
    /* border: 3px solid brown; */
    width: 15%;
}

/* Posicionamiento de la barra de busqueda en el hojo 3 (tercer div anidado)*/
.hijo_3{
    /* border: 3px solid gold; */
    width: 10%;
    display: flex;
    justify-content: flex-end;   
}

/* Espesor del div cuatro que contiene el login y el carrito */
.hijo_4{
    /* border: 3px solid blueviolet;  */
    width: auto; 
}

/* icono de login */
.icono{
   font-size: 25px;
   padding: 10px;
   margin: 0px 20px; 
   color: black;
 }

 .icono:hover{
    color: black;
 }

/* icono de carrito */
.icono2{
    font-size:25px;
    color: black;
}

.icono2:hover{
    color: black;
}

/* Estilos y pocicionamiento de los botonos Productos Blog y Nosotros */
.btn-ghost{
    position:relative;
    display: inline-block;
    border:2px solid var(--verdeClaro);
    padding: 10px 10px;
    color: var(--negro);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--verdeClaro);
    transition: color 0.5s, background 0.5s;
    font-size: 8px;
    margin-right: 0px;
    margin-inline-start: 70px;
}
  
/* color y subrayado de los botones Producto Blog y Nosotros al pasar el mouse*/
.btn-ghost:hover{
    text-decoration: underline;
    text-underline-offset: 4px;
    color: var(--salmon);
    background-color: transparent;
}
 
/* Color de los botones cuando se precionan */
.btn-ghost:active{
    box-shadow: inset 0 0 20px var(--verde);
}
 
/* Estilos de la Barra de Busqueda */

.buscar{       
    position: relative;
    padding: 5px;
}
/* Estilos del input dentro de la barra de busqueda */
.buscar input{
    width: 0px;
    height: 40px;
    padding:0 20px;
    font-size: 18px;
    color: var(--negro);
    outline: none;
    border: 1px solid silver;
    border-radius: 40px;
    transition: all 0.6s ease;
    z-index: 2;
}
/* Posicionamiento y estilos de icono buscar */
.buscar-icon{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--salmon);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: var(--crema); 
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
}

/* Extencion de la barra de busqueda */
.buscar:hover input{
 width: 240px;
}

/*  Extencion de la barra de busqueda */
.buscar input:focus{
width: 240px;
} 

/*Opciones a filtrar*/
#box-search{
    position: fixed;
    top:105px;/*es su posicion respecto al techo*/
    left: 55%;
    width: 497px;
    background: white;
    z-index:300;
    overflow: hidden;
    list-style: none; 
    display: none;
}
/*Estilos de las letras */
#box-search li a{
    display: block;
    width: 600px;
    color: #777777;
    text-align: left;
    text-decoration: none;
    transform: translateX(-35px);
    padding: 12px;
}
/* .des-t{
    border:2px solid red;
    transform: translate(10px,15px);
} */
#box-search li a:hover{
    background: #f3f3f3;
}

#box-search li a i{
    margin-right: 10px;
    color: #777777;
}

/*Pantalla negra para busqueda*/
#cover-ctn-search{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    z-index: 20;
    display: none;
}

/*Imagen busqueda*/
.T-img-p{
    border:2px border red;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: flex-start;
}

.T-img-p img{
    width: 80px;
}

@media screen and (max-width: 1200px){
	#box-search{
	top: 175px;
    /* transform: translateX(-150px); */
	}
}

@media screen and (max-width: 1199px){
	#box-search{
      transform: translateX(-360px);
	}
}

@media screen and (max-width: 1170px){
	#box-search{
        width: 44%;
        transform: translateX(-74%);
	}
}

@media screen and (max-width: 700px){
	#box-search{
       max-width: 400px;
      
	}
}

@media screen and (max-width: 540px){
	#box-search{
       width: 100%;
       left: 40px;
       transform: translateY(38px);
	}
}

@media screen and (max-width: 360px){
	#box-search{
       width: 100%;
       left: 0px;
       transform: translateY(38px);
	}
}

.p_logo{
    width: 100%;
    height: 1px;
    transform: translateY(-6.7em); 
    display: flex;
    justify-content: center;
    /* align-items: center; */
}


.h_logo{
    width: 50%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    
}

.h_logo img{
    position:relative;
    width: 40%;;
    object-fit: contain;
    transform: translateY(-50px);
}

.h_logo img:hover{
    transform: translateY(-57px);
}

@media screen and (max-width:1200px) {
    .background-container{
        width: 100%;
        height: 180px;
    }
    
    .p_logo{
        transform: translateY(-170px); 
    }
    .h_logo img{
        width: 200px;;
    }

    .heder-statica{
        position: fixed;
        top: 70px;
        z-index: 30;
    }

    .hijo_1{
        transform: translateX(-35px);
    }

}

@media screen and (max-width:540px) {
    .hijo_3{
        width: 540px;
        padding-right: 120px;        
    }
    .h_logo img{
        width: 150px;;
    }
}

@media screen and (max-width:400px) {
    .hijo_3{
        width: 400px;
        padding-right: 48px;        
    }
    
}

/*main*/
.carousel{
    z-index: 2;
}

/* Section */
.row{
    display: flex;
    flex-wrap: wrap;
}

aside{
    flex: 30px;
    /* border: 3px solid var(--crema); */
    /* padding: 20px; */
}

.p-contennedor{
    /* border: 3px solid rebeccapurple; */
    display: flex;
    flex-direction: column;
}

section{
    flex: 70%;
    /* border: 3px solid var(--salmon); */
    /* padding: 20px; */
}

.card .estrellas input{
    display: none;
}

.estrellas label{
    font-size: 10px;
    color: var(--salmon);
    padding: 5px;
    transition: all 0.2s ease;
} 

input:not(:checked) label:hover,
input:not(:checked) label:hover label{
    color:white;
}

input::checked label:hover{
    color:white;   
}
input#rate-5:checked label{
    color: var(--salmon);
    text-shadow: 0 0 20px #952;
}
input:checked form{
    display: block;
}


/* Pie de pagina */
/* barras divisorias del pie de pagina */
.rectangulo_1{
    width: 100%;
    height: 5px;
    background: var(--verdeClaro);
}

.rectangulo_2{
    width: 100%;
    height: 5px;
    background: white;
}

.rectangulo_3{
    width: 100%;
    height: 5px;
    background: var(--salmon); 
}

/* stilos de la imagen del pie de pagina */
.contenedor_imagen{
    height: 100%;
    /* border: 3px solid red;   */
    border-radius: 50%;
    margin-top: 0px;
    margin-left: 0px;
    margin-left: 0px;
}

/* Posiscionamiento de la imagen dentro del pie de pagina */
img-pie{
    text-align: center;
}

.contenedor_imagen img-pie{
    width: 100%;
    object-fit: contain;
}


/* del pie de pagina para contacto, formas de pago, redes sociales y preguntas frecuentes  */
.contenedor-padre{
    line-height: 35px;  
}

.contnedor-in{
    padding: 25px;
} 


/* Section */
.h-1{
    /* border: 3px solid red; */
    height: auto;
}

.nav{
    width: 300px;
}

/* Estilos de de los enlaces */
.nav__link{
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
}

/* le doy color a las letras cada que se hacerca el cursor */
.nav__link:hover{
    color: var(--salmon);  
}

.nav__link--inside{
    border-radius: 6px ;
    padding-left: 20px;
    text-align: left;
}

.nav__link--inside:hover{
    background: var(--crema);
}

.list{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* con overflow ocultamos el submenu */
.list__item{
    list-style: none;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

/* Esta linea hace que se ponga la manita */
.list__item--click{
    cursor: pointer;
}

/* Sentra el contenido del cuadro que se oculta */
.list__button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 80%;
    margin: 0 auto;
}

/* cuando se tenga la clase .list__arrow la flecha sufra un giro de noventa grados  */
.arrow .list__arrow{
    transform: rotate(90deg);
}

/* se pasa el icono hacia la derecha */
/* el giro durar.3s */
.list__arrow{
    margin-left: auto;
    transition: transform .3s;
}

/* Lstilos de los menos que se encuentran dentro */
/* con el transition y height se contrae el submenu */
.list__show{
    width: 80%;
    margin-left: auto;
    border-left: 2px solid var(--salmon);
    list-style: none;
    transition: height .4s;
    height: 0;
}

.ico{
    color:black;
    text-decoration: none;
}

.ico:hover{
    color: var(--salmon);
}


@media screen and (max-width: 1200px){
	.main{
	padding: 13rem 0rem 0rem;
	}
}
