.img_carrito{
    	width: 250px;
	height: 152px;
	border-radius: 25px;
}
.buttonx{
       cursor: pointer;
       width: 50px;
       height: 50px;
       margin-top: auto;
       margin-bottom: auto;
       margin-right: auto;
       margin-left: auto;
       background-color: white;
       border: none;
}
.buttonx:hover{
         opacity: 0.5;
}
td {
	align: center;
}
.div_carrito{
    width: 95%;
}
.table_carrito{
        top: auto;
    	border-top: 1px solid #ccc;
    	border-bottom: 1px solid #ccc;
	width: 95%;
 	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.input_carrito{
      width: 50px;
}


@media screen and (max-width: 600px) {
	.img_carrito{
		width: 50px;
		height: 50px;
	}
}


