aside{
	padding: 15px;
	margin: 50px;
	background-color: #FCF8E8;
	float:right;
	width:45%;
	height: 100%;
}
aside .info-pedido{
	display: grid;
	grid-template-columns: 50% 20%;
	justify-content: space-between;
}

aside .fr-btn{
width: fit-content;
}
