   /*Imagen banner*/
   .contactoBanner {
    max-width: 50%;
    height: auto;
    margin: 10px;
    border-radius: 15px;
}

/*Propiedades del formulario*/
.contactoTitulo {
    text-align: center;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.contenedor {
    /*background-color: var(--crema);*/
    background-color: white;
    margin: 30px;
    width: 100%;
    padding: 50px;

    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.cng {
    z-index: 2;
}




/*Propiedades de inputs, labels y boton*/
.contactoNameT{
    width:270px;
    height: 60px;
    padding:15px;
    border-radius:15px;
    border-color:var(--salmon);
    border-style:solid;
    text-align: left;
}
.contactoNameT:focus,.contactoEmailT:focus,.contactoAsuntoT:focus,.contactoTelefonoT:focus,.contactoComentariosT:focus{
    outline:white;
    border-color: white;
    border-style:solid;
}

.contactoEmailT{
    width:270px;
    height: 60px;
    padding:15px;
    border-radius:15px;
    border-color:var(--salmon);
    border-style:solid;
    text-align: left;
}

.contactoAsuntoT{
    width:270px;
    height: 60px;
    padding:15px;
    border-radius:15px;
    border-color:var(--salmon);
    border-style:solid;
    text-align: left;
}

.contactoTelefonoT{
    width:270px;
    height: 60px;
    padding:15px;
    border-radius:15px;
    border-color:var(--salmon);
    border-style:solid;
    text-align: left;
}

.contactoComentariosT{
    width:550px;
    height: 150px;
    padding:15px;
    border-radius:15px;
    border-color:var(--salmon);
    border-style:solid;
    margin: 20px;
    text-align: left;
    
}

.fr-btn {
    background-color: white;
    text-decoration-color: var(--crema);

    width: 180px;
    display: block;
    height: auto;
    padding: 15px;
    color: rgb(182, 112, 112);
    background: white;
    border: true;
    border-color: var(--salmon);

    border-radius: 15px;
    outline: var(--salmon);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin: auto;

    border-style: solid;

    font-family: 'Montserrat', sans-serif;
}

            .cnmapt{
              margin:50px;
            }

            .cnmap{
              margin:50px;
            }

            /*Popup*/
.fr-btn:hover {
    text-decoration-color: var(--crema);
    background-color: white;
    background: var(--salmon);
    color: black;
    border: var(--salmon);

    width: 180px;
    display: block;
    height: auto;
    padding: 15px;

    border-radius: 15px;
    outline: var(--salmon);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin: auto;

    font-family: 'Montserrat', sans-serif;
}

.cnmaptcl{
    font-size: 30px;
    color: white;
}

/*Popup*/

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*width: 100%;
height: 100%;*/
    background: rgba(0, 0, 0, 0.7);
    /*transition: opacity 500ms;*/
    visibility: hidden;
    opacity: 0;
    z-index: 3;
}

/*.overlay:target {
visibility: visible;
opacity: 1;
           }*/

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    top: 350px;
    transition: all 5s ease-in-out;
    background-color: var(--crema);
}

/*.popup h2 {
margin-top: 0;
color: #333;
font-family: 'Montserrat', sans-serif;
}*/
/*.popup .cmlogo {
max-width: 30%;
height: auto;
margin:50px;
margin-top: 0;
color: #333;
font-family: Tahoma, Arial, sans-serif;
           }*/
.popup .close {
    position: absolute;
    top: 2px;
    right: 5px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: var(--salmon);
}

.popup .content {
    max-height: 30%;
    overflow: auto;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}