            .buscar-icon{
                position: absolute;
                top: 0;
                right: 0;
                background-color: var(--salmon);
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                color: var(--crema); 
                font-size: 20px;
                border-radius: 50%;
                cursor: pointer;
                z-index: 100;
            }
                        
            
            .contactoTitulo{
                text-align: center;
                background-color: white;
                font-family: 'Montserrat', sans-serif;
                margin-bottom: 50px;
            }

            .contactoBanner{
                max-width: 50%;
                height: auto;
                margin:50px;
                border-radius:15px;
            }

             .contenedor{
                background-color: var(--crema);
                margin: 50px;
                width: 100%;
                padding:50px;

                display: flex;
                flex-wrap: wrap;
                width: 100%;
                
            }

            .cng{
                z-index: 1;
            }

            .contactoNameT{
                width:180px;
                height: 15px;
                padding:15px;
                border-radius:15px;
                border-color:var(--salmon);
                border-style:solid;
            }
            .contactoNameT:focus,.contactoEmailT:focus,.contactoAsuntoT:focus,.contactoTelefonoT:focus,.contactoComentariosT:focus{
                outline:white;
                border-color: white;
                border-style:solid;
            }

            .contactoEmailT{
                width:180px;
                height: 15px;
                padding:15px;
                border-radius:15px;
                border-color:var(--salmon);
                border-style:solid;
            }

            .contactoAsuntoT{
                width:180px;
                height: 15px;
                padding:15px;
                border-radius:15px;
                border-color:var(--salmon);
                border-style:solid;
            }

            .contactoTelefonoT{
                width:180px;
                height: 15px;
                padding:15px;
                border-radius:15px;
                border-color:var(--salmon);
                border-style:solid;
            }

            .contactoComentariosT{
                width:300px;
                height: auto;
                padding:15px;
                border-radius:15px;
                border-color:var(--salmon);
                border-style:solid;
                margin: 20px;
            }

            .fr-btn{
                background-color: white;
                text-decoration-color: var(--crema);

                width:180px;
                display: block;
                height: auto;
                padding:15px;
                color:rgb(182, 112, 112);
                background:white;
                border:true;
                border-color:var(--salmon);
                
                border-radius:15px;
                outline: var(--salmon);
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                transition: all 0.3s;
                margin:auto;

                border-style:solid;
                
                font-family: 'Montserrat', sans-serif;
            }
            .fr-btn:hover{
                text-decoration-color: var(--crema);
                background-color: white;
                background:var(--salmon);
                color: black;
                border:var(--salmon);

                width:180px;
                display: block;
                height: auto;
                padding:15px;

                border-radius:15px;
                outline: var(--salmon);
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                transition: all 0.3s;
                margin:auto;
                
                font-family: 'Montserrat', sans-serif;
            }

            /*Popup*/

            .overlay {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0, 0, 0, 0.7);
                /*transition: opacity 500ms;*/
                visibility: hidden;
                opacity: 0;
              }
              /*.overlay:target {
                visibility: visible;
                opacity: 1;
              }*/
              
              .popup {
                margin: 70px auto;
                padding: 20px;
                background: #fff;
                border-radius: 5px;
                width: 30%;
                position: relative;
                transition: all 5s ease-in-out;
              }
              
              .popup h2 {
                margin-top: 0;
                color: #333;
                font-family: Tahoma, Arial, sans-serif;
              }
              .popup .close {
                position: absolute;
                top: 20px;
                right: 30px;
                transition: all 200ms;
                font-size: 30px;
                font-weight: bold;
                text-decoration: none;
                color: #333;
              }
              .popup .close:hover {
                color: var(--salmon);
              }
              .popup .content {
                max-height: 30%;
                overflow: auto;
              }
              
              @media screen and (max-width: 700px){
                .box{
                  width: 70%;
                }
                .popup{
                  width: 70%;
                }
              }
            
