

@media screen and (max-width:400px){
    .producto-precio,.producto-nombre, .inf, .estrellas, .descripcion1{
        font-size: 6px;
        font-family: 'Montserrat', sans-serif; 
    }   
}

@media screen and (min-width:401px){
    .producto-precio,.producto-nombre, .inf, .estrellas, .descripcion1{
        font-size: 16px;
        font-family: 'Montserrat', sans-serif; 
    }   
}


.cards-wrapper-tarjeta-grupo-producto{
    display: flex;
    margin:2%;
}

.tarjeta-producto{
   
    border: 1px solid rgb(255, 255, 255);
    margin: 0 0.5em;
    width: cal(100%/4);
    

}

.img-producto {
    border-radius: 20%;
    margin: 2%;
    height:75%; 
 
}



.botones {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgb(254, 255, 255);
    border: 1px solid rgb(209, 26, 188);
    color: rgb(6, 6, 6);
     font-weight: 1000px;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.botones::after {
    /*se crea una capa*/
    content: "";
    width: 1px;
    height: 1px;
    background: none;
    position: absolute;
    z-index: 1;
    top: 65%;
    left: 60%;
    transition: .3s ease-in-out all;
    border-radius: 100px;
    transform-origin: center;
}

.botones:hover::after {
    transform: scale(600);
    background: rgb(183, 28, 90);
}


.inf {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
    color: #161515;
    font-family: 'Montserrat', sans-serif;
}


.estrellas {
    color: rgb(255, 0, 238);    
    font-family: 'Montserrat', sans-serif;
}

.producto-central{    
    display: flex;
    align-items: center;
    justify-content: center;
}


.img-producto-central{
    border-radius: 0 16% ;
    border: 0.5em solid rgba(39, 141, 26, 0.625);
 
}

h1{
    font-family: 'Montserrat', sans-serif;
}

.descripcion1{
    
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}



.mas-vendido{  
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}




    
    
    
    
    
    
    