/*importamos el archivo de estilos de cada componente*/
@import url('./Styles_carrito.css');
@import url('./StylesRegister.css');
/*importamos fuentes de google*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/*importamos el css de iconos*/
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css');
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}
h2,h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    }
p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

thead, tbody {
    font-family: 'Montserrat', sans-serif;
	    text-align: center;
            font-weight: 400;
 	    font-size: 16px;
		
    }
th{
	background-color: #ECB390;
    }
table,td,th{
	border-collapse: collapse;
}

td {
	align: center;
}

