*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


/* .padre{
    border: 3px solid red;
} */

.hijo_1{
    /* border: 3px solid blue; */
    width: 1px;
    
}

.hijo_2{
    /* border: 3px solid brown; */
    width: 20%;
    height: 50px;
}



.hijo_2 img{
    position:relative;
    left: 25%; 
    width: 50%;
    object-fit: contain;
}

/* .hijo_3{
    border: 3px solid gold;
    width: 30%;
   
} */

/* .hijo_4{
    border: 3px solid blueviolet; */
    /* width: 20%;  */
/* } */

.icono{
   font-size: 25px;
   margin: 10px 0px;
   margin-top: 8px;
   margin-bottom: 5px;
}

.icono2{
    font-size:25px;
    margin: 0px 25px;
}




   
   .btn-ghost{
       position:relative;
       display: inline-block;
       border:2px solid var(--verdeClaro);
       padding: 10px 10px;
       color: var(--negro);
       font-weight: 700;
       text-transform: uppercase;
       text-decoration: none;
       background-color: var(--verdeClaro);
       transition: color 0.5s, background 0.5s;
       font-size: 8px;
       margin-right: 0px;
       margin-inline-start: 70px;
   }
   
   .btn-ghost:hover{
       text-decoration: underline;
       text-underline-offset: 4px;
       color: var(--salmon);
       background-color: transparent;
       
   }
   
   .btn-ghost:active{
       box-shadow: inset 0 0 20px var(--verde);
   }
   
   .buscar{       
       position: relative;
       padding: 5px;
       /* top: 5px;
       right: 50px; */
   }
   
   .buscar input{
        width: 0px;
        height: 40px;
        padding:0 20px;
        font-size: 18px;
        color: var(--negro);
        outline: none;
        border: 1px solid silver;
        border-radius: 40px;
        transition: all 0.6s ease;
        z-index: 1;
    }

   .buscar-icon{
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--salmon);
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: var(--crema); 
        font-size: 20px;
        border-radius: 50%;
        cursor: pointer;
        z-index: 100;
    }

   .buscar:hover input{
    width: 240px;
    
   }

   .buscar input:focus{
    width: 240px;
    } 

   .rectangulo_1{
        width: 100%;
        height: 5px;
        background: var(--verdeClaro);
   }

   .rectangulo_2{
    width: 100%;
    height: 5px;
    background: white;
    }

    .rectangulo_3{
        width: 100%;
        height: 5px;
        background: var(--salmon); 
    }

   .contenedor_imagen{
        height: 100%;
        /* border: 3px solid red;   */
        border-radius: 50%;
        margin-top: 0px;
        margin-left: 0px;
        margin-left: 0px;

    }

    img-pie{
        /* position:absolute; */
        /* top: 0px; */
        /* max-width: 100%;
        right: 46%;  */
        /* width: 0px; */
        text-align: center;
        
    
    }

    .contenedor_imagen img-pie{
        width: 100%;
        object-fit: contain;
    }



    .contenedor-padre{
        line-height: 35px;  
        /* margin-bottom: 100%; */
        /* border: 3px solid rgb(31, 18, 221);   */
        /* display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; */
       
    }

     .contnedor-in{
        /* margin-left: 15px; */
        padding: 25px;
        /* line-height: 25px; */
        /* margin: auto; */
        /* margin-top: 15px; */
        /* border: 3px solid rgb(81, 36, 36);   */
       
    } 
/* 
    .contenedor-ini{
        line-height: 0px;
        border: 3px solid red;  
       
    } */

    
 
    