body .Pago{
	display: grid;
	justify-items: flex-start;
}
aside{
	padding: 15px;
	margin: 0px 36px 0px 36px;
	background-color: #FCF8E8;
	float:right;
	width:45%;
	height: 100%;
	position: static;
}
aside .info-pedido{
	display: grid;
	grid-template-columns: 70% 30%;
	grid-gap: 5px;
	justify-content: space-between;
	justify-items: flex-start;
	border-radius: 48%;
}

aside .fr-btn{
width: fit-content;
}
input{
	border-radius: 8px;
}
.dirEnvio{
	background-color: #F5F5F5;
	width: 45%;
	margin-left: 36px;
	padding: 15px;

}
.dirEnvio .grupoPersonaRecibe{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100%,90%));
	grid-gap: 5px;
	justify-items: start;
}
.dirEnvio .grupoDireccion{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100%,90%));
	grid-gap: 5px;
	justify-items: start;
}
.formularioTarjeta{
	background-color: #F5F5F5;
	width: 45%;
	margin-left: 36px;
	padding: 15px;
}
.formularioTarjeta .datosTarjeta{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100%, 90%));
	grid-gap: 5px;
	justify-items: start;
}
.formularioTarjeta .grupo-expira{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 5px;
	height: 28px;
}
.formularioTarjeta #inputCCV{
	max-width: 40px;
}